BASE_URL=http://localhost:8080

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_CONFIG_SERVER_MODE=False

DB_HOST=postgres
DB_PORT=5432
DB_NAME=Test
DB_USER=postgres
DB_PASSWORD=postgres_password

JWT_LIFETIME=10800
JWT_STRING=access_token
JWT_SECRET=+#=H}?W%FM2DDs2=U?B-[4gQkF&)K$SkCp-exo|J8&f
REFRESH_LIFETIME=259200
REFRESH_STRING=refresh_token
REFRESH_SECRET=/HV&zTz#72d]@L6jRsG/NU<g(_6n(_d#$7yPZjV-<RF
ALGORITHM_SECRET=HS256