BASE_URL=http://localhost:8080

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_CONFIG_SERVER_MODE=False

REDIS_PASSWORD=my_redis_password
REDIS_USER=my_user
REDIS_USER_PASSWORD=my_user_password
REDIS_HOST=redis
REDIS_PORT=6379

DB_HOST=postgres
DB_PORT=5432
DB_NAME=Landing
DB_USER=postgres
DB_PASSWORD=postgres_password

SMTP_MAIL=
SMTP_MAIL_PWD=
OWNER_MAIL=

MI_TOKEN=

RATE_LIMIT=3
RATE_TIME=60