/* Базовые стили */

/*html {
  overflow-x: hidden;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat-Medium", serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #E4E2E2;
    min-height: 100vh;
    position: relative;
    padding-top: 100px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    z-index: 100;
}

main{
    position: fixed;
    top: 100px;
}

.logo {
    width: 160px;
    display: flex;
    align-items: center;
    padding: 10px 31px 10px 15px;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 60px;
    height: auto;
}

.logo a {
    font-family: 'Montserrat-Medium', sans-serif;
    color: #7e8184;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    vertical-align: top;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Шрифты */
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(/_files/_fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url(/_files/_fonts/Montserrat-Medium.ttf) format("truetype");
}

/* Адаптивность */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 20px;
    }
    
    .sidebar {
        position: relative;
        height: auto;
        width: 100%;
        padding: 10px 0;
    }
    
    .sidebar-content {
        margin-left: 0;
        align-items: center;
    }
}